.bookmarks-list {
    min-height: 350px;

    &__row {
        display: grid;
        grid-template-columns: 1.5fr 4fr 2fr 0.5fr;
        grid-gap: 1rem;
        align-items: center;

        &:not(:last-child) {
            //margin-bottom: .75rem;
        }

        &:not(&--head) {
            cursor: pointer;

            &:hover {
                box-shadow: 0 0 35px #ccc;
            }
        }

        &--head {
            font-weight: 600;
            border-bottom: 1px solid #eee;
        }
    }
}