.bookmarks {

    &__list {
        margin-bottom: 3rem;
    }

    &__pager {
        text-align: center;
        margin: 1rem 0;
    }

    &__button {
        margin: 0 auto 0 2rem;
    }

    &__error-text {
        display: block;
    }
}