.bookmark {
    padding: .85rem;
    transition: all .2s ease;

    & > * {
        line-height: 1.5;
    }

    &__row {
        @include flex-center;
    }



    &__field {
        text-align: left;
        @include sqare(100%);
        padding: .5rem 1rem;

        &:first-child {
            text-align: right;
        }

        & img {
            height: 16px;
            max-width: 100%;
        }
    }
}