.bookmark-preview {
    padding: .85rem;
    transition: all .2s ease;

    &__field {
        text-align: center;
        @include sqare(100%);

        &[data-order][data-sort] {
            cursor: pointer;
            position: relative;

            &::after {
                @include pseudo-el;
                @include sqare(1rem);
                transition: all .3s ease;
                background: $grey-arrow-svg no-repeat center/contain;
                top: calc(50% - .5rem);
                left: unset;
                margin-left: .75rem;
            }
        }

        &--asc::after {
            transform: rotate(90deg);
        }

        &--desc::after {
            transform: rotate(270deg);
        }

        & img {
            height: 16px;
            max-width: 100%;
        }
    }
}