.footer {
    z-index: 1000;
    background-color: $dark-blue-clr;
    color: $light-blue-clr;

    & a {
        color: $light-blue-clr;

        &:hover {
            color: #fff;
        }
    }

    &__separator {
        display: block;
        width: 100%;
        height: 1px;
        background-color: $blue-clr;
    }

    &__bottom {
        display: flex;
        padding: 25px 0;
        color: $light-blue-clr;
        justify-content: space-between;

        @media (max-width: $md) {
            flex-direction: column;

            & > * {
                display: flex;
                align-items: center;

                &:not(:last-child) {
                    margin-bottom: 15px;
                }
            }
        }
    }

    &__company {
        color: #4e98cc !important;
        font-size: .875rem;

        @media (max-width: $md) {
            order: 1;
        }

        &:hover {
            color: #fff !important;
        }
    }
}

.ftop {
    padding: 45px 0;
    display: flex;
    justify-content: space-between;

    & > * {
        min-width: 200px;

        @media (max-width: $xl) {
            min-width: unset;
        }

        @media (max-width: $md) {
            margin-bottom: 45px;
        }
    }

    & .button {
        @media (max-width: $md) {
            margin-left: 0;
        }
    }

    @media (max-width: $md) {
        flex-direction: column;
        padding: 30px 0 35px;
    }

    &__logo {
        height: 45px;

        & img {
            max-height: 100%;
        }

        @media (max-width: $md) {
            display: none;
        }
    }

    &__nav > div {
        &:not(:last-child) {
            margin-bottom: 12px;

            @media (max-width: $md) {
                margin-bottom: 20px;
            }
        }
    }

    &__policy {
        line-height: 1.5;

        @media (max-width: $md) {
            order: 10;
            margin-bottom: 0;
        }

    }

    &__contacts {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        & > div {
            line-height: 1.5;
            &:not(:last-child) {
                margin-bottom: 15px;
            }
        }
    }
}
