.header {
    width: 100%;
    padding: 18px 0;
    box-sizing: border-box;
    background-color: #fff;
    position: relative;
    z-index: 990;

    @media (max-width: $xl) and (min-width: $md) {
        margin-bottom: 50px;
    }

    @media (max-width: $md) {
        position: fixed;
        height: 60px;
        padding: 15px 0;
        border-bottom: 1px solid $grey-clr;
    }

    &__inner {
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;
    }

    &__nav {
        flex-grow: 1;

        @media (max-width: $xl) {
            position: absolute;
            bottom: -50px;
            width: 100%;
            left: 0;
        }

        @media (max-width: $md) {
            display: none;
        }
    }

    &__logo {
        display: block;
        margin-right: 60px;
        height: 100%;

        & img {
            max-height: 100%;
        }
    }

    &__phone {
        margin-right: 2rem;

        @media (max-width: $xl) {
            margin-left: auto;
        }

        @media (max-width: $md) {
            display: none;
        }
    }

    &__menu-open {

        display: none;

        @media (max-width: $md) {
            cursor: pointer;
            display: block;
            @include sqare(40px);
            background: $burger-svg no-repeat center/contain;
            background-size: 26px 14px;
            margin-right: -7px;
        }
    }

    &__callback {
        @media (max-width: $md) {
            display: none;
        }
    }
}
