@import '../../mixins';

@keyframes inputHighlighter {
    from { background: $grey-clr; }
    to 	{ width: 0; background: transparent; }
}

button, input, optgroup, select, textarea {
    font-family: 'Montserrat';
}


input {
    &[type='number'] {
        -moz-appearance: textfield;

        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
    }
}


.select {
    cursor: pointer;
    position: relative;
    border: 1px solid $grey-clr;
    box-sizing: border-box;
    padding: 0 35px 0 20px;

    &__check {
        height: 40px;
        display: flex;
        align-items: center;
        white-space: nowrap;

        &:before {
            display: none;
        }
    }

    &:after {
        content: "";
        background: url('../images/svg/arrow.svg') no-repeat center/contain;
        position: absolute;
        right: 10px;
        top: calc(50% - 5px);
        width: 22px;
        height: 10px;
    }

    &__name {
        color: $grey-clr;
        font-weight: 300;
        display: block;
        position: absolute;
        top: -23px;
        left: 0;
    }

    &__single {
        height: 40px;
        display: flex;
        align-items: center;
        cursor: pointer;

        & input[type='radio'] {
            @include visibly-hidden;

            &:checked + span {
                color: $link-clr;
            }
        }
    }
    
    &__label {
        cursor: pointer;
    }

    &__drop {

        list-style-type: none;
        z-index: 50;
        height: 0;
        visibility: hidden;
        display: block;
        overflow-y: auto;
        overflow-x: hidden;
        position: absolute;
        left: 0;
        background: #fff;
        width: calc(100% + 2px);
        margin-left: -1px;
        border: 1px solid $grey-clr;
        padding: 10px 15px;
        box-sizing: border-box;

        &-show {
            height: 100%;
            display: flex;
            align-items: center;
            color: var(--grey-clr);
            white-space: nowrap;
            overflow: hidden;
        }

        &--vis {
            visibility: visible;
            height: auto;
        }
    }

    &--fill {
        border-color: $blue-clr;
    }
}


.input {
    position: relative;
    width: 100%;
    max-width: 300px;

    & input {
        width: 100%;
        padding: 10px 0;
        border: none;
        border-bottom: 1px solid $dark-text-clr;
        background-color: transparent;

        &:focus {
            outline: none;
        }

        &:focus ~ .input__label{
            top: -20px;
            font-size: .75rem;
            color: $grey-clr;
        }

        &:focus ~ .input__highlight {
            animation: inputHighlighter 0.3s ease;
        }
        &:focus ~ .input__bar:before,
        &:focus ~ .input__bar:after {
            width: 50%;
        }
    }

    &__label {
        position: absolute;
        color: $grey-clr;
        pointer-events: none;
        left: 0;
        top: 10px;
        transition: all .2s ease ;
    }

    &__highlight {
        position: absolute;
        height: 80%;
        width: 80%;
        bottom: 0;
        left: 0;
        pointer-events: none;
        opacity: 0.4;
    }

    &__bar {
        position: relative;
        display: block;

        &:before,
        &:after {
            content: '';
            position: absolute;
            height: 2px;
            width: 0;
            bottom: 0;
            background-color: $blue-clr;
            transition: 0.2s ease all;
        }
        &:before {
            left:50%;
        }
        &:after {
            right: 50%;
        }
    }

    &__tick {
        @include sqare(0);
        position: absolute;
        right: 9px;
        top: 50%;
        background: $check-svg no-repeat center/contain;
        transition: all .3s ease;
    }

    &--err,
    &--ok {
        & input {
            color: $red-clr !important;
        }
        & .input__label {
            top: -20px;
            font-size: .75rem;
            //color: $red-clr !important;
        }

        & .input__bar {
            &:before,
            &:after {
                background-color: $red-clr !important;
                width: 50%;
            }
        }

        & .input__tick {
            background-image: $error-svg !important;
            @include sqare(18px);
            top: calc(50% - 9px);
            right: 0;
        }
    }

    &--ok {
        & input {
            color: $link-clr !important;
        }

        & .input__bar {
            &:before,
            &:after {
                background-color: $link-clr !important;
            }
        }

        & .input__tick {
            background-image: $check-svg !important;
        }
    }
}


.toggle {

    &__btn {

        @include sqare(0px);
        vertical-align: middle;
        cursor: pointer;
        text-indent: -9999px;
        width: 40px;
        height: 20px;
        background: $blue-clr;
        display: inline-block;
        border-radius: 100px;
        position: relative;

        &:after {
            content: '';
            position: absolute;
            top: 2px;
            left: 2px;
            width: 16px;
            height: 16px;
            border-radius: 50%;
            background: linear-gradient(180deg, #E8F0FF 0%, #D3DFF0 100%);
            transition: 0.3s;
        }
    }

    &__input {
       @include visibly-hidden;

        &:checked + .toggle__btn {
            background: $blue-clr;
        }

        &:checked + .toggle__btn:after {
            left: calc(100% - 2px);
            transform: translateX(-100%);
        }
    }

    &__state {
         color: $text-clr;

        &--active {
            color: $text-clr;
        }
    }
}


.radio {
    display: flex;
    position: relative;

    &__button {
        height: 100%;
        flex-grow: 1;

        & > input {
            @include visibly-hidden;
        }

        & > span {
            @include flex-center;
            cursor: pointer;
            height: 100%;
            margin: 0 0 0 0px;
            border: 1px solid $grey-clr;
            border-right: 1px solid transparent;
            transition: all .3s ease;
        }

        &:last-child > span {
            border: 1px solid $grey-clr;
        }

        & input:checked + span {
            color: #fff;
            background: $blue-clr;
            box-shadow: inset 0 3px 6px rgba(0, 0, 0, .2);
            border: 1px solid transparent;
        }

        & input:disabled + span {
            background: $grey-clr;
            box-shadow: inset 0 0 13px rgba(0, 0, 0, .2);
            border: 1px solid transparent;
        }

        & input:checked:disabled + span {
            color: #fff;
            background: $grey-clr;
            box-shadow: inset 0 3px 6px rgba(0, 0, 0, .2);
            border: 1px solid transparent;
        }

        & input:focus + span {
            border: 1px solid $blue-clr;
        }

        & input:focus:active + span {
            border: 1px solid transparent;
        }
    }

    &__label {
        @include simple-label;
    }
}

.range {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    &__label {
        margin-bottom: 1rem;
    }

    &__input {
        background-color: transparent;
        border: none;
        font-size: 1.25rem;
        font-weight: 500;
        box-sizing: border-box;

        &:disabled {
            color: $dark-text-clr;
        }
    }

    &__real {
        -webkit-appearance: none;
        margin: 10px 0;
        width: 100%;
        background-color: transparent;

        &:focus {
            outline: none;

            &::-webkit-slider-runnable-track {
                background-color: $blue-clr;
            }
        }

        &::-webkit-slider-runnable-track {
            @include range-track;
        }

        &::-webkit-slider-thumb {
            @include range-thumb;
        }

        &::-moz-range-track {
            @include range-track;
        }
        &::-moz-range-progress {
            background-color: $blue-clr;
        }
        &::-ms-fill-lower {
            background-color: $blue-clr;
        }

        &::-moz-range-thumb {
            @include range-thumb;
        }
    }
}

.button {
    @include flex-center;
    display: inline-flex;
    padding: 0 10px;
    color: #fff;
    height: 40px;
    text-transform: uppercase;
    font-size: .75rem;
    border: 1px solid transparent;
    min-width: 200px;
    background-color: $red-clr;
    box-sizing: border-box;
    cursor: pointer;
    transition: all .2s ease;

    $hovered-box-shadow: 0px 4px 10px rgba(176, 20, 37, .25);

    @media (max-width: $md) {
        margin: 0 auto;
        text-align: center;
    }

    @media (max-width: $sm) {
        max-width: unset;
    }

    &:hover {
        background-color: #de192f;
        box-shadow: $hovered-box-shadow;
    }

    &:active {
        background-color: #8c0f1d;
        box-shadow: 0px 4px 10px rgba(140, 15, 29, 0.25)
    }

    &:focus {
        border: 1px solid #de192f;
    }

    &:active:focus {
        border: 1px solid transparent;
    }

    &--small {
        max-width: 160px;
    }

    &--blue {
        background-color: $blue-clr;
        color: #fff;

        &:hover {
            background-color: $blue-clr;
            box-shadow: 0px 4px 10px rgba(13, 74, 117, .25);
        }

        &:focus {
            border-color: $link-clr;
        }

        &:active {
            background-color: $dark-blue-clr;
        }
    }

    &--inverse {
        background-color: transparent;
        border-color: $blue-clr;
        color: $blue-clr;


        &:hover {
            box-shadow: 0px 4px 10px rgba(13, 74, 117, 0.25);
            border-color: $link-clr;
            background-color: $link-clr;
            color: #fff;
        }

        &:active {
            background-color: $blue-clr;
            border-color: $blue-clr;
            color: #fff;
        }

        &:focus {
            border-color: $link-clr;
        }

        &.button--blue {
            border-color: $light-blue-clr;
            color: $light-blue-clr;

            &:hover {
                background-color: $light-blue-clr;
                color: $dark-blue-clr;
            }

            &:active {
                background-color: #fff;
                color: $dark-blue-clr;
            }

            &:focus {
                border-color: #fff;
            }
        }
    }

    &--margin-top {
        margin-top: 25px;
    }

    &--center {
        margin: 0 auto;
    }
}

.text-button {
    cursor: pointer;
    color: $red-clr;
    transition: color .1s ease-out;
    border: 1px solid transparent;

    &:hover {
        color: #DE192F;
    }

    &:active {
        color: #DE192F;
    }
}

.check {

    display: flex;
    padding-left: 2.1rem;
    position: relative;
    cursor: pointer;

    &:hover {
        color: $link-clr;
    }

    &__input {
        @include visibly-hidden;

        &:checked ~ .check__box {
            background: url("data:image/svg+xml,%3Csvg width='16' height='16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.166 2.458L5.75 11.873.834 6.957 0 7.79l5.75 5.75L16 3.294l-.834-.835z' fill='%233C6FA1'/%3E%3C/svg%3E")
                        no-repeat center/contain #fff;
            box-shadow: 0 0 0 1px $link-clr;
        }

        &:focus ~ .check__box {
            box-shadow: 0 0 0 1px $blue-clr;
        }

        &:checked:focus ~ .check__box {
            box-shadow: 0 0 0 1px $link-clr,
                        0 0 0 2px $blue-clr;
        }

        &:disabled ~ .check__label {
            color: $grey-clr;
        }

        &:checked:disabled ~ .check__box {
            background: url("data:image/svg+xml,%3Csvg width='16' height='16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.166 2.458L5.75 11.873.834 6.957 0 7.79l5.75 5.75L16 3.294l-.834-.835z' fill='%23848993'/%3E%3C/svg%3E")
                        no-repeat center/contain;
            box-shadow: 0 0 0 1px $grey-clr;
        }
    }

    &__box {
        position: absolute;
        @include sqare(1.5rem);
        background-color: #fff;
        border: 4px solid #fff;
        left: 1px;
        box-sizing: border-box;
        box-shadow: 0 0 0 1px $grey-clr;

        &--small {
            @include sqare(1.125rem);
        }
    }

    &__label {
        line-height: 1.5;
        cursor: pointer;
    }

}


.file-upload {
    display: block;
    position: relative;
    overflow: hidden;
    padding: 10px;
    margin-bottom: 20px;
    text-align: center;
    cursor: pointer;

    & span {
        color: $link-clr;
        padding: 5px 10px;
    }

    & input[type="file"] {
        position: absolute;
        top: 0;
        left: calc(50% - 85px);
        margin: 0;
        padding: 0;
        font-size: 20px;
        cursor: pointer;
        opacity: 0;
        filter: alpha(opacity=0);
        height: unset;
        width: 170px;

        &:focus ~ span {
            border: 1px solid $blue-clr;
        }
    }
}
