.mobile-menu {
    display: none;

    @media (max-width: $md) {
        @include sqare(100%);
        background-color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding: 15px;
        overflow: hidden;
        opacity: 0;
        box-sizing: border-box;
        z-index: 990;
    }

    &__row {
        height: 29px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 45px;
    }

    &__logo {
        height: 100%;
        & img {
            height: 100%;
        }
    }

    &__close {
        @include sqare(40px);
        cursor: pointer;
        background: $cross-svg no-repeat center/contain;
        background-size: 20px;
        margin-right: -10px;
    }

    &__list {
        margin-bottom: 70px;
    }

    &__link {
        text-transform: uppercase;

        &:not(:last-child) {
            margin-bottom: 35px;
        }

        & a {
            color: $dark-text-clr;

            &:active,
            &:hover {
                color: $link-clr;
            }
        }
    }

    &__phone {
        font-size: 1.25rem;
        margin-bottom: 20px;
    }

    &--shown {
        opacity: 1;
    }
}