.page {

    &__wrapper {
        flex-grow: 1;
    }

    &__title {
        font-size: 3rem;
        margin: 60px 0 40px;

        @media (max-width: $xl) {
            margin: 30px 0;
        }
    }

    &__mobile-menu {
        position: fixed;
        height: 100vh;
        width: 100vw;

        @media (min-width: $md) {
            display: none;
        }
    }

    &__middle {
        margin: 0;
        flex: 1 0 auto;
        position: relative;
        overflow: hidden;

        @media (max-width: $md) {
            margin-top: 60px;
        }
    }

    &__bottom {
        background: #ebebeb;
        flex: 0 0 auto;
    }
}
