@mixin pager-ui {
    transition: all.2s ease-out;
    &:hover {
        color: #fff;
        background-color: $main-blue-clr;

        & path {
            stroke: #fff;
        }
    }
    &:active {
        background-color: $blue-text-clr;
    }
}

@mixin disabled-prev-next {
    &:not(&-active) {
        cursor: unset;
        & path {
            fill: $grey-clr;
        }

        &:hover {
            color: $dark-blue-clr;
            background-color: transparent;
        }
    }
}

.pager {

    display: inline-flex;
    height: 35px;
    box-sizing: border-box;
    border: 1px solid #eeeded;
    border-radius: 3px;
    justify-content: center;

    &__page {
        height: 100%;
        width: 40px;
        @include flex-center();
        flex: 0 0 auto;
        color: #202124;
        transition: all .2s ease;

        &:not(:last-child) {
            border-right: 1px solid #eeeded;
        }

        &:not(&--active) {
            &:hover {
                color: #fff;
                background-color: $dark-blue-clr;
            }
        }

        &--active {
            color: #fff;
            background-color: $dark-blue-clr;
            border-color: $dark-blue-clr;
        }

        &--next {
            &:not(&-active) {
                cursor: unset;
                & path {
                    fill: $grey-clr;
                }

                &:hover {
                    color: $dark-blue-clr;
                    background-color: transparent;
                }
            }
        }

        &--prev {
            &:not(&-active) {
                cursor: unset;
                & path {
                    fill: $grey-clr;
                }

                &:hover {
                    color: $dark-blue-clr;
                    background-color: transparent;
                }
            }
        }

        &--prev,
        &--next {

            &-active {
                transition: all.2s ease-out;
                &:hover {
                    color: #fff;
                    background-color: $dark-blue-clr;

                    & path {
                        fill: #fff;
                    }
                }
            }
        }
    }
}