.top-nav {
    display: flex;
    align-items: center;

    @media (max-width: $xl) {
        justify-content: space-between;
        margin: 0 30px;
        height: 45px;
        border-top: 1px solid $grey-clr;
    }

    &:hover &__link--selected {
        border-color: transparent;
    }

    &__link {
        @include flex-center;
        position: relative;
        font-size: .75rem;
        text-transform: uppercase;

        @media (max-width: $xl) {
            font-size: .8rem;
            margin-right: 0;
        }

        &:after {
            @include pseudo-el;
            @include skewLine;
        }

        &:not(:last-child) {
            margin-right: 25px;
        }

        & > a {
            @include sqare(100%);
            @include flex-center;
            color: $text-clr;
            padding: 5px 0;
        }

        &--selected {
            & > a {
                color: $dark-text-clr;
            }

            &:after {
                background-color: $red-clr;
            }
        }

        &:hover:after {
            background-color: $red-clr;
        }
    }
}