@import 'variables';

@mixin clearfix {
    &::after {
        clear: both;
        content: '';
        display: table;
    }
}

@mixin skewLine {
    height: 2px;
    width: 100%;
    top: 100%;
    transform: skewX(-45deg);
}

@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin wrap {
    max-width: 1160px;
    margin: 0 auto;

    @media (max-width: $xl) {
        max-width: calc(100% - 60px);
    }

    @media (max-width: $md) {
        max-width: calc(100% - 30px);
    }
}

@mixin simple-label {
    display: block;
    position: absolute;
    top: -23px;
    color: $grey-clr;
    font-weight: 300;
}

@mixin pseudo-el {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
}

@mixin visibly-hidden {
    position: absolute;
    @include sqare(1px !important);
    overflow: hidden !important;
    clip: rect(0 0 0 0);
}

@mixin sqare($s) {
    width: $s;
    height: $s;
}

@mixin img-center {
    @include flex-center;
    overflow: hidden;

    & img {
        width: 100%;
        min-height: 100%;
        object-fit: cover;
    }
}

@mixin range-track {
    width: 100%;
    height: 2px;
    //background: linear-gradient(0deg, transparent 49%, #7d7d7d 50%, transparent 51%);;
    background: #7d7d7d;
    background-size: 2px;
    cursor: pointer;
    animate: 0.2s;
}

@mixin range-thumb {
    width: 14px;
    height: 14px;
    background-color: $blue-clr;
    border-radius: 50%;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -7px;
    z-index: 10;
}


@mixin mobile-menu {

    & .ui-accordion-header {
        height: 50px;
        background: transparent;
        padding: 0;

        & a {
            color: #fff;
        }
    }

    & .ui-accordion-content {
        padding: 10px 0 0;
        background: transparent;

        & a {
            color: $link-clr;
            margin-bottom: 10px;

            &:not(:last-child) {
                margin-bottom: 30px;
            }
        }
    }
    & .ui-accordion-header-icon {

        @include sqare(20px);
        background: url('../images/svg/arrow-white.svg') no-repeat center/cover;
        transition: transform .3s ease;
        right: 0;

        &:before, &:after {
            display: none;
        }

        &.ui-icon-minus {
            transform: rotate(180deg);
        }
    }
}
