//@import 'normalize';
@import 'variables';
@import 'mixins';
@import 'fonts/Montserrat';

* {
    margin: 0;
    padding: 0;
    outline: none;
    line-height: 1.5;

    &::selection {
        background-color: $dark-blue-clr;
        color: #fff;
    }
}

html, body {
    height: 100%;
    font-size: 16px;
    font-family: 'Montserrat', 'Arial';

    @media (max-width: $xl) {
        font-size: 14px;
    }
}

body {
    display: flex;
    flex-direction: column;
    position: relative;
    color: $dark-text-clr;
}

a {
    text-decoration: none;
    color: $link-clr;
    cursor: pointer;
}

p {
    color: $text-clr;
    line-height: 1.5;
}

ul {
    list-style: none;
    margin-left: 1rem;
}

li {
    line-height: 1.5;
    position: relative;
    color: $dark-text-clr;
    &:not(:last-child) {
        margin-bottom: 15px;
    }

    &::before {
        @include pseudo-el;
        @include sqare(6px);
        background-color: $red-clr;
        left: -1rem;
        transform: translateY(130%);
    }
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

.wrap {
    @include wrap;

    &--flex {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}

.title,
.subtitle {
    color: $dark-text-clr;
    line-height: 1.2;

    &--left {
        text-align: left;
    }

    &--white {
        color: #fff;
    }
}

.title {
    display: block;
    width: 100%;
    padding: 1.5rem 0 0;
    margin: 0 0 1.5rem;
    font-size: 2.5rem;
    font-weight: 400;
    text-align: center;

    @media (max-width: $xl) {
        font-size: 2rem;
    }

    @media (max-width: $md) {
        padding: 60px 0 0;
        font-size: 1.7rem;
    }

    &--small {
        font-size: 2.25rem;
    }

    &--big {
        font-size: 4rem;
    }

    &--center {
        text-align: center;
    }
}

.subtitle {
    font-size: 1.5rem;
    line-height: 2rem;
    text-align: left;
    font-weight: 500;

    @media (max-width: $md) {
        line-height: 1;
    }

    &--center {
        text-align: center;
    }
}

.error-text {
    color: $red-clr !important;
}


@import 'blocks/main/input-fields';
@import 'blocks/main/page';
@import 'blocks/main/pager';
@import 'blocks/main/header';
@import 'blocks/main/mobile-menu';
@import 'blocks/main/footer';
@import 'blocks/main/top-nav';