<div class="bookmarks" id="bookmarks">
    <div class="bookmarks__single bookmark">
        {% if result.EL %}
            {% if result.EL.DATE_CREATE %}
                <div class="bookmark__row">
                    <div class="bookmark__field">{{ getMessage('DATE_ADD') }}</div>
                    <div class="bookmark__field">{{ result.EL.DATE_CREATE }}</div>
                </div>
            {% endif %}
            {% if result.EL.PROPS.TITLE.VALUE %}
                <div class="bookmark__row">
                    <div class="bookmark__field">{{ getMessage('PAGE_TITLE') }}</div>
                    <div class="bookmark__field">{{ result.EL.PROPS.TITLE.VALUE }}</div>
                </div>
            {% endif %}
            {% if result.EL.PROPS.FAVICON.SRC %}
                <div class="bookmark__row">
                    <div class="bookmark__field">{{ getMessage('FAVICON') }}</div>
                    <div class="bookmark__field"><img src="{{ result.EL.PROPS.FAVICON.SRC }}" alt=""></div>
                </div>
            {% endif %}
            {% if result.EL.PROPS.DESCRIPTION.VALUE %}
                <div class="bookmark__row">
                    <div class="bookmark__field">{{ getMessage('META_DESCRIPTION') }}</div>
                    <div class="bookmark__field">{{ result.EL.PROPS.DESCRIPTION.VALUE }}</div>
                </div>
            {% endif %}
            {% if result.EL.PROPS.KEYWORDS.VALUE %}
                <div class="bookmark__row">
                    <div class="bookmark__field">{{ getMessage('META_KEYWORDS') }}</div>
                    <div class="bookmark__field">{{ result.EL.PROPS.KEYWORDS.VALUE }}</div>
                </div>
            {% endif %}
        {% endif %}
    </div>
    <a href="{{ result.EL.LIST_PAGE_URL }}" class="bookmarks__button button">{{ getMessage('BACK_TO_LIST') }}</a>
    <div
        data-ajax="{{ result.AJAX_REQUEST_PARAMS }}"
        data-has-pass="{{ result.EL.PROPS.PASSWORD.VALUE ? 'y' : 'n' }}"
        data-id="{{ result.EL.ID }}"
        class="bookmarks__button button js-delete-bookmark"
    >{{ getMessage('DELETE_BOOKMARK') }}</div>
    <span class="bookmarks__error-text error-text"></span>
</div>