<div class="bookmarks-list" id="bookmarks">
    <form class="bookmarks-list__form add-form" id="add-bookmark" data-ajax="{{ result.AJAX_REQUEST_PARAMS }}">
        <div class="add-form__field input">
            <input name="addUrl" type="url" required>
            <span class="input__highlight"></span>
            <span class="input__bar"></span>
            <label class="input__label">{{ getMessage('ENTER_URL') }}</label>
            <span class="input__tick"></span>
        </div>
        <div class="add-form__field input">
            <input name="password" type="password">
            <span class="input__highlight"></span>
            <span class="input__bar"></span>
            <label class="input__label">{{ getMessage('ENTER_PASSWORD') }}</label>
            <span class="input__tick"></span>
        </div>
        <div class="add-form__field input">
            <input name="password_verify" type="password">
            <span class="input__highlight"></span>
            <span class="input__bar"></span>
            <label class="input__label">{{ getMessage('ENTER_PASSWORD_AGAIN') }}</label>
            <span class="input__tick"></span>
        </div>
        <input type="hidden" name="action" value="add">
        <button class="add-form__button button" type="submit">{{ getMessage('ADD_BOOKMARK') }}</button>
        <span class="add-form__error-text error-text"></span>
    </form>
</div>