<div class="bookmarks js-ajax-block" id="bookmarks" data-ajax="{{ result.AJAX_REQUEST_PARAMS }}">
    <div class="bookmarks__list bookmarks-list">
        <div class="bookmarks-list__row bookmarks-list__row--head bookmark-preview">

            {% set order = params.SORT_BY_1 == 'DATE_CREATE' ? params.SORT_ORDER_1|lower : 'desc' %}
            <div class="bookmark-preview__field bookmark-preview__field--{{ order }}"
                 data-sort="date_create"
                 data-order="{{ order }}"
            >{{ getMessage('DATE_ADD') }}</div>

            {% set order = params.SORT_BY_1 == 'PROPERTY_TITLE' ? params.SORT_ORDER_1|lower : 'asc' %}
            <div class="bookmark-preview__field bookmark-preview__field--{{ order }}"
                 data-sort="property_title"
                 data-order="{{ order }}"
            >{{ getMessage('PAGE_TITLE') }}</div>

            {% set order = params.SORT_BY_1 == 'PROPERTY_URL' ? params.SORT_ORDER_1|lower : 'asc' %}
            <div class="bookmark-preview__field bookmark-preview__field--{{ order }}"
                 data-sort="property_url"
                 data-order="{{ order }}"
            >{{ getMessage('PAGE_URL') }}</div>
            <div class="bookmark-preview__field">{{ getMessage('FAVICON') }}</div>
        </div>
        {% if result.LIST %}
            {% for item in result.LIST %}
                <div href="{{ item.DETAIL_PAGE_URL }}" class="bookmarks-list__row bookmark-preview">
                    <div class="bookmark-preview__field">{{ item.DATE_CREATE }}</div>
                    <a href="{{ item.DETAIL_PAGE_URL }}" class="bookmark-preview__field">{{ item.PROPS.TITLE.VALUE }}</a>
                    <div class="bookmark-preview__field">
                        <a href="{{ item.PROPS.URL.VALUE }}">{{ item.PROPS.URL.VALUE }}</a>
                    </div>
                    <div class="bookmark-preview__field">
                        <img src="{{ item.PROPS.FAVICON.SRC }}" alt="">
                    </div>
                </div>
            {% endfor  %}
        {% else %}
            <div class="bookmarks-list__err error-text">{{ getMessage('BOOKMARKS_LIST_IS_EMPTY') }}</div>
        {% endif %}
    </div>
    {% if result.NAV_STRING %}
        <div class="bookmarks__pager">
            {{ result.NAV_STRING }}
        </div>
    {% endif %}
    <div class="bookmarks__button button js-show-add">{{ getMessage('ADD_BOOKMARK') }}</div>
    <div class="bookmarks__button button js-export-excel">{{ getMessage('EXPORT_TO_EXCEL') }}</div>
</div>